* {
  base: #191724;
  surface: #1f1d2e;
  overlay: #26233a;
  muted: #6e6a86;
  subtle: #908caa;
  text: #e0def4;
  love: #eb6f92;
  gold: #f6c177;
  yellow: #f6c177;
  rose: #e0def4;
  pine: #31748f;
  foam: #9ccfd8;
  blue: #569fba;
  iris: #c4a7e7;
  highlight-low: #2a273f;
  highlight-med: #332e4e;
  highlight-high: #e0def4;
}
